.google_maps {
	width: 100%;
	height: 50vh;
}

.social_logo {
	font-size: larger;
}

.wpcf7-submit {
	width: 100%;
}

span[class*="wpcf7-not-valid-tip"] {
	color: #ce3434 !important;
}

.modal-contact .confirm,
.modal-contact .error {
	color: #636363;
	width: 325px;
	font-size: 14px;
}

.modal-contact .confirm .modal-content,
.modal-contact .error .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
}
.modal-contact .confirm .modal-header,
.modal-contact .error .modal-header {
	border-bottom: none;
	position: relative;
}
.modal-contact .confirm h4,
.modal-contact .error h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -15px;
}
.modal-contact .confirm .form-control,
.modal-contact .confirm .btn,
.modal-contact .error .form-control,
.modal-contact .error .btn {
	min-height: 40px;
	border-radius: 3px;
}
.modal-contact .confirm .close,
.modal-contact .error .close {
	position: absolute;
	top: -5px;
	right: -5px;
}
.modal-contact .confirm .modal-footer,
.modal-contact .error .modal-footer {
	border: none;
	text-align: center;
	border-radius: 5px;
	font-size: 13px;
}
.modal-contact .confirm .icon-box {
	color: #fff;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -70px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	background: #82ce34;
	padding: 15px;
	text-align: center;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.modal-contact .error .icon-box {
	color: #fff;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -70px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	background: #ce3434;
	padding: 15px;
	text-align: center;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.modal-contact .confirm .icon-box i,
.modal-contact .error .icon-box i {
	color: white !important;
	font-size: 58px;
	position: relative;
	top: 3px;
}
.modal-contact .confirm.modal-dialog,
.modal-contact .error .modal-dialog {
	margin-top: 80px;
}
.modal-contact .confirm .btn,
.modal-contact .error .btn {
	color: #fff;
	border-radius: 4px;
	background: #82ce34;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border: none;
}
.modal-contact .confirm .btn:hover,
.modal-contact .confirm .btn:focus,
.modal-contact .error .btn:hover,
.modal-contact .error .btn:focus {
	background: #6fb32b;
	outline: none;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
}

.styled-input label {
    padding: 1.3rem 30px 1.3rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
    z-index: 1;
}

.styled-input.wide { 
    width: 650px;
    max-width: 100%;
}

.styled-input input,
textarea {
    padding: 40px 30px 30px 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.150);
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}


@media (max-width: 768px) {
    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }
    .input-container {
        width: 350px;
        max-width: 100%;
        margin: 20px auto 25px auto;
    }
}

input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}


