body {
    background-color: whitesmoke;
}

.container {
    background-color: white;
}

.page-header {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 40vh;
    max-width: 100vw;
    margin-top: 0;
    padding: 0;
}

.banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 50vh;
    max-width: 100vw;
    margin-top: 0;
    padding: 0;
}

.carousel {
    background-color: black;
    min-height: 40vh;
    max-width: 100vw;
    margin-top: 0;
    padding: 0;
}

.error-404 {
    height: 50vh;
    text-align: center;
}

.logo-comment {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.col_half { width: 49%; }
.col_third { width: 32%; }
.col_fourth { width: 23.5%; }
.col_fifth { width: 18.4%; }
.col_sixth { width: 15%; }
.col_three_fourth { width: 74.5%;}
.col_twothird{ width: 66%;}
.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth{
	position: relative;
	display:inline;
	display: inline-block;
	float: left;
	margin-right: 2%;
	margin-bottom: 20px;
}
.end { margin-right: 0 !important; }
/* Column Grids End */

.wrapper { width: 980px; margin: auto; position: relative;}
.counter { background-color: rgba(255, 255, 255, 0.85); padding: 20px 0; border-radius: 5px;}
.count-title { font-size: 20px; font-weight: bold;  margin-top: 10px; margin-bottom: 0; text-align: center;}
.count-text { font-size: 13px; font-weight: bold;  margin-top: 10px; margin-bottom: 0; text-align: center; }
.fa-2x { margin: 0 auto; float: none; display: table; color: #4ad1e5; }

