.box {
  min-width: 40vw;
  max-width: 80vw;
  margin: auto;
  background: rgb(73, 65, 65);
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.box::before {
  content: "";
  position: absolute;
  right: 100%;
  top: 26px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid rgb(73, 65, 65);
  border-bottom: 13px solid transparent;
}
