.image-box {
    height: 100%;
}

.image-single-blog {
    object-fit: cover;
    object-position: center;
}

.blog-hr {
    width: 200px;
    margin: 0 auto;
    border: 1px solid #000000;
}

.comment-textarea textarea {
    padding: 40px 30px 30px 30px;
    border: 1px solid black;
    width: 100%;
    font-size: 1rem;
    background-color: #b4afaf;
    opacity: 0.75;
    border-radius: 4px;
}

@media screen and (max-width: 768px) {
    .image-single-blog {
        max-height: 60vh;
    }
}