.image-box{
    height: 100%;
}

.image-single-blog {
    object-fit: cover;
    object-position: center;
}

.blog-hr {
    width: 200px;
    margin: 0 auto;
    border: 1px solid #000000;
}

@media screen and (max-width: 768px) {
    .image-single-blog {
        max-height: 60vh;
    }
}
